{% block modal %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Create Article
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Create Article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="form-create" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>Text</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group addform">
                            <button class="btn btn-secondary">+</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary btn-create" value="Create">
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script type="text/javascript">
            const createSelectElement = (id) => {
                let $select = document.createElement("select");
                $select.classList.add("form-control");
                $select.setAttribute("name", `type_${id}`);
                ['text', 'img', 'video'].forEach((type) => {
                    let $option = document.createElement("option");
                    $option.value = type;
                    $option.text = type;
                    $select.appendChild($option);
                })
                $select.addEventListener('change', (e) => {
                    let nextSibling = e.target.nextSibling
                    if (e.target.value === 'img' || e.target.value === 'video') {
                        nextSibling.type = "file"
                        nextSibling.classList.add("btn", "btn-secondary")
                        nextSibling.classList.remove("form-control")
                    } else {
                        nextSibling.type = "text"
                        nextSibling.classList.add("form-control")
                        nextSibling.classList.remove("btn", "btn-secondary")
                    }
                })
                return $select;
            }
            const createDeleteButton = () => {
                const $button = document.createElement("button");
                $button.textContent = "-";
                $button.classList.add("btn");
                $button.classList.add("btn-danger");

                $button.addEventListener("click", (e) => {
                    e.preventDefault();
                    $button.parentNode.parentNode.removeChild($button.parentNode);
                })
                return $button;
            }

            const createInputElement = (id, reason) => {
                let $input = document.createElement("input");
                $input.classList.add("form-control");
                $input.setAttribute("type", "text")
                $input.setAttribute("name", `${reason}_${id}`)
                $input.setAttribute("placeholder", reason)
                return $input;
            }

            const createFormElement = () => {
                let $div = document.createElement("div");
                $div.classList.add("form-row");
                $div.classList.add("align-items-center");
                let $group = document.createElement("div");
                $group.style.display = "flex";
                $group.classList.add("col-auto");
                $div.appendChild($group);
                let id = Math.floor(Math.random() * 100);

                [createSelectElement(id), createInputElement(id, "value"), createInputElement(id, "name"), createDeleteButton()].forEach($el => $group.appendChild($el))
                return $div;
            };

            const $addform = document.querySelector(".addform");
            const $formCreate = document.querySelector(".form-create");
            console.log($formCreate)
            document.querySelector('.btn-create').addEventListener('click', () => $formCreate.submit())
            document.querySelector(".btn-secondary").addEventListener("click", (e) => {
                e.preventDefault()
                $addform.appendChild(createFormElement())
            })
        </script>
    {% endblock %}
{% endblock %}

