{% block modal %}
    <div class="wrapper">
        <h4>Create an article</h4>
        <form action="" method="post">
            <div class="form-group">
                <label>Text</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group addform">
                <input type="submit" class="btn btn-primary" value="Create">
                <button class="btn btn-secondary">+</button>
            </div>
        </form>
    </div>
    {% block javascripts %}
        <script type="text/javascript">
            const createSelectElement = (id) => {
                let $select = document.createElement("select");
                $select.classList.add("form-control");
                $select.setAttribute("name", `type_${id}`);
                ['img', 'text', 'video'].forEach((type) => {
                    let $option = document.createElement("option");
                    $option.value = type;
                    $option.text = type;
                    $select.appendChild($option);
                })
                return $select;
            }
            const createDeleteButton = () => {
                const $button = document.createElement("button");
                $button.textContent = "-";
                $button.classList.add("btn");
                $button.classList.add("btn-danger");

                $button.addEventListener("click", (e) => {
                    e.preventDefault();
                    $button.parentNode.parentNode.removeChild($button.parentNode);
                })
                return $button;
            }

            const createInputElement = (id, reason) => {
                let $input = document.createElement("input");
                $input.classList.add("form-control");
                $input.setAttribute("type", "text")
                $input.setAttribute("name", `${reason}_${id}`)
                $input.setAttribute("placeholder", reason)
                return $input;
            }

            const createFormElement = () => {
                let $div = document.createElement("div");
                $div.classList.add("form-row");
                $div.classList.add("align-items-center");
                let $group = document.createElement("div");
                $group.style.display = "flex";
                $group.classList.add("col-auto");
                $div.appendChild($group);
                let id = Math.floor(Math.random() * 100);

                [createSelectElement(id), createInputElement(id, "value"), createInputElement(id, "name"),  createDeleteButton()].forEach($el => $group.appendChild($el))
                return $div;
            };
            const $addform = document.querySelector(".addform");
            document.querySelector(".btn-secondary").addEventListener("click", (e) => {
                e.preventDefault()
                $addform.appendChild(createFormElement())
            })
        </script>
    {% endblock %}
{% endblock %}

