{% extends "layout.twig" %}
{% block content %}
<div class="wrapper">
    <h4>Update an article</h2>
    <form action="/update/{{article.id}}" method="post">
        <div class="form-group">
            <label>Text</label>
            <input type="text" name="name" class="form-control" value="{{article.name}}">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Update">
        </div>
    </form>
</div>
{% endblock %}